<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/assets/favicon.ico" type="image/x-icon">
    <title>Multiplayer Tic Tac Toe</title>
    <base href="../">
    <link rel="stylesheet" href="../static/styles/styles.css">
    <link rel="stylesheet" href="../static/styles/styles-design.css">
    <link rel="stylesheet" href="../static/styles/styles-logs.css">
    
    <!-- Bootstrap CSS
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> -->

</head>

<body>

  <main>
    
    <!-- Greetings view -->
      <div class="greetings background show" id="greetingsBackground">
        <div class="greetings-view show" id="greetings">
            <div class="modal-header">
              <h3 id="label">Game Arena</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <h1>Tic Tac Toe game</h1>
            <div class="horizontal-line"></div>
            <div class="tictacImage">
              <img src="/static/assets/path97.png" alt="">
              <img src="/static/assets/drawing.png" alt="">
            </div>
            <form action="">
              <label for="gameRoom">Enter a game room name to join with other player</label>
              <input type=text id="gameRoom" placeholder="Room Name" required="required">
    
              <label for="playerName">Enter your username</label>
              <input type=text id="playerName" placeholder="Player Name" required="required">
              
              <button type="button" id="joinRoom">Join room</button>
            </form>
          </div>
      </div>
      <!-- Greetings view -->
    
  
      <div class="board-logs-container">
        <div class="game-board-area">
          <!-- tictactoe board -->
          <div class="board" id="board">
                <div class="cell" data-cell></div>
                <div class="cell" data-cell></div>
                <div class="cell" data-cell></div>
                <div class="cell" data-cell></div>
                <div class="cell" data-cell></div>
                <div class="cell" data-cell></div>
                <div class="cell" data-cell></div>
                <div class="cell" data-cell></div>
                <div class="cell" data-cell></div>
              </div>
              <div class="winning-message" id="winningMessage">
                <div data-winning-message-text></div>
                <button id="restartButton">Restart</button>
              </div>
          <!-- tictactoe board -->
          <div class="game-board-area-button"><button id="gameStart">Start Game</button></div>

        </div>
    
        <div class="logs" id="logs-container">
    
          <!--! LOGS  -->
          <div class="messaging-view show" id="messaging">
    
            <!-- messaging area header: info about connected players -->
              <div class="messaging-header" id="messaging-header">
                <div class="modal-header">
                  <span class="modal-header-title">Game Arena</span>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <!-- connected player -->
    
                <div class="connected-players" id="connected_players">

                  <!-- <span>Connected: <span class="player slot1"></span>, <span class="player slot2"></span></span> -->
                </div>
              </div>
            <!--  -->
              <!-- <div class="horizontal-line"></div> -->
              <!-- messages -->
              <div class="msg" id="msg-area">
                <!--  -->
    
                  <!-- <div class="message-out">
                    <div class="msg-container">
                      <div class="msg-content">
                        Hi
                      </div>
                    </div>
                  </div>
    
                  <div class="message-refer">
                    <div class="msg-container center">
                      <div class="msg-content refer">
                        Hello
                      </div>
                    </div>
                  </div> -->
    
              </div>
              <!-- messages -->
    
              <!-- send msg -->
              <div class="logs message" id="log_msg">
                <form class="messaging" id="send_msg" method="POST" action="#" autocomplete="off">
                  <input type=text id="message" placeholder="type message">
                  <button type="submit" id="send">Send</button>
                  </form>
              </div>
              <!-- send msg -->
    
            </div>
    
        </div>
      </div>
    
  </main>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.min.js"></script>
  <script type="module" src="./static/scripts/main.js"></script>
    
</body>

</html>