<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multiplayer Tic Tac Toe</title>
    <link rel="stylesheet" href="../static/styles/styles.css">
    <link rel="stylesheet" href="../static/styles/styles-design.css">
    
</head>


<!-- Greetings view -->
  <div class="greetings background show" id="greetingsBackground">
    <div class="greetings-view show" id="greetings">
        <div class="modal-header">
          <h3 id="label">Game Arena</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <h1>Tic Tac Toe game</h1>
        <div class="horizontal-line"></div>
        <div class="tictacImage">
          <img src="/static/assets/path97.png" alt="">
          <img src="/static/assets/drawing.png" alt="">
        </div>
        <form action="">
          <label for="gameRoom">Enter a game room name to join with other player</label>
          <input type=text id='gameRoom' placeholder="Room Name">
          
          <label for="playerName">Enter your username</label>
          <input type=text id='playerName' placeholder="Player Name">
        </form>
        <button id="joinRoom">Join room</button>
      </div> 
  </div> 
  <!-- Greetings view -->
  
  <!-- logs area -->
  <body>
    <div id="gameInfo">
      <div>
        <button id="gameStart">Start Game</button>
      </div>
    </div>
  <!-- logs area -->

  <!-- tictactoe board -->
  <div class="board" id="board">
        <div class="cell" data-cell></div>
        <div class="cell" data-cell></div>
        <div class="cell" data-cell></div>
        <div class="cell" data-cell></div>
        <div class="cell" data-cell></div>
        <div class="cell" data-cell></div>
        <div class="cell" data-cell></div>
        <div class="cell" data-cell></div>
        <div class="cell" data-cell></div>
      </div>
      <div class="winning-message" id="winningMessage">
        <div data-winning-message-text></div>
        <button id="restartButton">Restart</button>
      </div>
  <!-- tictactoe board -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.min.js"></script>
    <script src="../static/scripts/script.js"></script>
</body>

</html>